html, body {
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  color: #111;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid rgba(10, 10, 10, 0.7);
}

.section-header {
  height: 100vh;
  width: 100vh;
  font-family: "Helvetica Neue";
}

.section-header header {
  position: absolute;
  bottom: 6vw;
  left: 6vw;
  width: 65vw;
  z-index: 10;
}

.large {
  font-size: 42px;
  line-height: 1.2em;
}

@media (min-width: 1300px) {
  .section-header header {
    width: 810px;
  }
}

@media (max-width: 760px) {
  .section-header {
    height: 140vw;
  }
}

.information {
  margin-top: 4vw;
  width: 50vw;
}

.small {
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
}

.normal {
  font-family: "Helvetica Neue";
  font-size: 30px;
  line-height: 1.3em;
}

@media (max-width: 760px) {
  .normal {
    font-size: 5vw;
  }
}

@media (min-width: 1300px) {
  .normal {
    font-size: 2.4vw;
  }
}

.email-desktop {
  display: inline;
}

.email-mobile {
  display: none;
}

@media (max-width: 768px) {
  .email-desktop {
    display: none;
  }
  .email-mobile {
    display: inline;
  }
}

.pop-circle {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 6vw;
  top: 15vh;
  left: 30vw;
  z-index: 50;
}

#circle {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 6vw;
  background: #fff000;
  top: 15vh;
  left: 30vw;
  z-index: 50;
}

#explainer {
  position: absolute;
  top: 50%;
  left: 4vw;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  display: none;
}

@media (max-width: 768px) {
  #circle {
    top: 10vh;
    left: 60vw;
    width: 6vw;
    height: 6vw;
  }
  .pop-circle {
    top: 10vh;
    left: 60vw;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1300px) {
  #circle {
    width: 40px;
    height: 40px;
  }
  .pop-circle {
    width: 40px;
    height: 40px;
  }
  #explainer {
    left: 60px;
  }
}

.section-latest {
  position: relative;
  background: #FFF000;
  padding: 6vw;
}

@media (max-width: 760px) {
  .section-latest {
    padding: 6vw 3vw;
  }
}

.latest-list {
  margin-top: 3vw;
  padding: 0;
  list-style: none;
}

.latest-list li {
  padding: 0.1em 0 0.1em 2em;
  vertical-align: baseline;
}

.latest-list li:before {
  margin-left: -2em;
  margin-right: 1em;
  position: absolute;
  display: block;
  content: '×';
}

@media (max-width: 760px) {
  .latest-list li + li {
    margin-top: 0.5em;
  }
}

a.external:after {
  content: ' ↗';
  position: absolute;
  padding-left: 0.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

