html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: "Helvetica Neue";
  font-size: 2.4vw;
  line-height: 1.3em;
  opacity: 0;
  transition: opacity .6s;
  -webkit-transition: opacity .5s; /* Safari */
}
a {
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  color: #111;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid rgba(10, 10, 10, 0.7);
}

.section {
  position: relative;
}

.section-header {
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Neue";
}

.section-header header {
  position: absolute;
  bottom: 6vw;
  left: 6vw;
  width: 65vw;
  z-index: 10;
}

.large {
  font-size: 3.6vw;
  line-height: 1.2em;
}

@media (min-width: 1300px) {
  .section-header header {
    width: 810px;
  }
}

@media (max-width: 760px) {
  .section-header {
    height: 140vw;
  }
  .section-header header {
    width: auto;
    bottom: 6vw;
    left: 3vw;
    right: 3vw;
  }
  .large {
    font-size: 8.5vw;
  }
}

.information {
  margin-top: 4vw;
  width: 70vw;
}

.small {
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 1.8em;
}

.normal {
  font-family: "Helvetica Neue";
  font-size: 2.4vw;
  line-height: 1.3em;
}

@media (max-width: 760px) {
  .normal {
    font-size: 5vw;
  }
  .small {
    font-size: 3.2vw;
  }
  .information {
    margin-top: 6vw;
  }
}

.information .small img {
  max-width: 17px;
  max-height: 17px
}

@media (min-width: 1300px) {
  .normal {
    font-size: 30px;
  }
}

.profile-desktop {
  display: none;
}

.profile-mobile {
  display: inline;
}
.information .small .profile-mobile a {
  border-bottom: none;
}

.email-desktop {
  display: inline;
}

.email-mobile {
  display: none;
}

@media (max-width: 768px) {
  .profile-desktop {
    display: none;
  }
  .profile-mobile {
    display: inline;
  }
  .email-desktop {
    display: none;
  }
  .email-mobile {
    display: inline;
  }
}

.pop-circle {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 6vw;
  top: 15vh;
  left: 30vw;
  z-index: 50;
}

#circle {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 6vw;
  background: #fff000;
  top: 15vh;
  left: 30vw;
  z-index: 50;
}

#explainer {
  position: absolute;
  top: 50%;
  left: 4vw;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  display: none;
}

@media (max-width: 768px) {
  #circle {
    top: 10vh;
    left: 60vw;
    width: 6vw;
    height: 6vw;
  }
  .pop-circle {
    top: 10vh;
    left: 60vw;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1300px) {
  #circle {
    width: 40px;
    height: 40px;
  }
  .pop-circle {
    width: 40px;
    height: 40px;
  }
  #explainer {
    left: 60px;
  }
}

.section-latest {
  position: relative;
  background: #FFF000;
  padding: 6vw;
}

@media (max-width: 760px) {
  .section-latest {
    padding: 6vw 3vw;
  }
}

.latest-list {
  margin-top: 3vw;
  padding: 0;
  list-style: none;
}

.latest-list li {
  padding: 0.1em 0 0.1em 2em;
  vertical-align: baseline;
}

.latest-list li:before {
  margin-left: -2em;
  margin-right: 1em;
  position: absolute;
  display: block;
  content: '×';
}

@media (max-width: 760px) {
  .latest-list li + li {
    margin-top: 0.5em;
  }
}

a.external:after {
  content: ' ↗';
  position: absolute;
  padding-left: 0.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

